.additionally__title {
  .main-fonts();
  .font-set(24px, 26px);
  margin-top: 6px;
  margin-bottom: 20px;
}

.additionally__list {
  .reset-list();
  .main-fonts();
  .font-set(16px, 18px);
  text-transform: uppercase;
}

.additionally__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .additionally__title {
    .font-set(36px, 36px);
  }

  .additionally__list {
    .font-set(20px, 30px);
    display: flex;
    flex-wrap: wrap;
  }

  .additionally__item {
    width: 50%;
    margin-bottom: 37px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__item {
    width: 25%;
    margin-bottom: 30px;
  }
}
