.catalog__list {
  .reset-list();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px 58px;
    padding: 0 30px;
    margin-top: 164px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 144px 80px;
    padding: 0 110px;
    margin-top: 167px;
  }
}

.catalog__item {
  padding: 0 20px;
  margin: 0 auto;
  border-top: 1px solid @special-light-grey;
  max-width: 280px;

  &:last-child {
    border-bottom: 1px solid @special-light-grey;
  }

  @media (min-width: @tablet-width) {
    background-color: @basic-grey;
    padding: 0 37px 0 37px;
    max-width: 252px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 39px 0 39px;
    max-width: 167px;
  }
}
