.comment__title {
  .main-fonts();
  .font-set(24px, 26px);
  margin-top: 6px;
  margin-bottom: 20px;
}

.comment__text {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding-top: 13px;
  padding-left: 15px;
  .main-fonts();
  .font-set(16px, 18px);
  text-transform: uppercase;
  color: @special-dark-grey;
  border: 1px solid @basic-border-grey;
}

@media (min-width: @tablet-width) {
  .comment__title {
    .font-set(36px, 36px);
    margin-bottom: 55px;
  }

  .comment__text {
    height: 174px;
  }
}
