.contacts {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &--inner {
    background-color: @basic-grey;
  }

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
    grid-template-columns: 1fr 2fr;
  }

  @media (min-width: @desktop-width) {
    width: 500px;
    grid-template-columns: 1fr 1fr;
    padding-left: 75px;
    padding-right: 0;

    &--inner {
      background-color: @basic-white;
    }
  }
}

.contacts__invitation {
  .main-fonts();
  .font-set(16px, 18px);
  text-transform: uppercase;
  text-align: left;
  margin-top: 28px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    .font-set(20px, 24px);
    margin-top: 67px;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 20px;
  }
}

.contacts__address {
  .font-set(14px, 20px);
  color: @special-dark-grey;
  text-align: left;
  margin-top: 28px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    .font-set(16px, 20px);
    text-align: right;
    margin-top: 63px;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.contacts__street {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.contacts__city {
  margin: 0;
}
