.contacts {
  padding: 28px 19px 22px;
  &__invitation {
    font-family: "Oswald", "Arial", sans-serif;
    .font-set(16px, 18px);
    text-transform: uppercase;
  }
  &__address {
    .font-set(14px, 20px);
    color: @special-dark-grey;
  }
  &__city {
    .font-set(14px, 20px);
    color: @special-dark-grey;
  }
}
