.example__wrapper {
  padding: 27px 20px 26px;
  min-width: 280px;
  background-color: @basic-background-grey;

  @media (min-width: @tablet-width) {
    padding: 43px 30px 68px;
    background: linear-gradient(to bottom, @basic-white 57%, @basic-background-grey 57%);
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding: 21px 110px 65px;
    display: grid;
    grid-template-columns: 436px auto;
    background: linear-gradient(to bottom, @basic-white 25%, @basic-background-grey 25%);
  }
}

.example__title {
  margin: 0;
  .main-fonts();
  .font-set(36px, 40px);
  padding-bottom: 33px;

  @media (min-width: @tablet-width) {
    .font-set(60px, 60px);
    padding-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 146px;
  }
}

.example__intro {
  color: @special-dark-grey;
  margin: 0;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    .font-set(16px, 24px);
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    .font-set(16px, 24px);
    padding-bottom: 69px;
  }
}

.example__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__list {
  .reset-list();
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}

.example__item {
  width: 122px;
  height: 54px;
  border: 1px solid @special-grey;
  border-radius: 3px;
  text-align: center;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    width: 160px;
    height: 70px;
    margin-right: 42px;
  }
}

.example__result {
  .main-fonts();
  .font-set(24px, 24px);
  padding-top: 14px;
  padding-bottom: 8px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font-set(30px, 37px);
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 11px;
  }
}

.example__description {
  .font-set(12px, 12px);
  color: @special-dark-grey;
  margin: 0 auto;
  width: 80px;
  background-color: @basic-background-grey;
  z-index: 2;

  @media (min-width: @tablet-width) {
    .font-set(14px, 14px);
    width: 132px;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-background-grey;
  }
}

.example__costs {
  .main-fonts();
  .font-set(14px, 20px);
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  display: flex;

  @media (min-width: @tablet-width) {
    .font-set(20px, 20px);
    margin: 0;
    flex-direction: column;
    align-items: flex-end;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.example__costs-label {
  @media (min-width: @tablet-width) {
    margin-top: 11px;
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 63px;
  }
}

.example__costs-count {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.example__image-slider {
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 2px;
  }
}
