.features {
  padding: 0 20px;
  &__wrapper {
    width: 280px;
    padding-top: 27px;
  }
  &__title {
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    .font-set(36px, 40px);
    padding-bottom: 38px;
  }
  &__list {
    list-style: none;
    margin: 0;
    margin-bottom: 42px;
    padding: 0;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__description {
    color: @special-dark-grey;
  }
}
