.form-selection__item {
  border: 0;
  //border-bottom: 1px solid @basic-grey-border2;
  margin: 0;
  padding: 20px 20px;
}

.form-selection__submit {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 32px;
}

.form-selection__button {
  width: 280px;
  height: 40px;
  .main-fonts();
  .font-set(16px, 20px);
  margin-bottom: 21px;
}

.form-selection__legend {
  .font-set(14px, 16px);
}
