.form-selection__item {
  border: none;
  margin: 0;
  padding: 20px 20px;
}

.form-selection__submit {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.form-selection__button {
  .main-fonts();
  .font-set(16px, 20px);
  margin: 0 auto 21px;
}

.form-selection__legend {
  .font-set(14px, 16px);
}

@media (min-width: @tablet-width) {
  .form-selection__item {
    padding: 33px 70px;
  }

  .form-selection__submit {
    flex-direction: row;
    padding: 0 70px;
  }

  .form-selection__button {
    .font-set(20px, 20px);
    margin: 0 60px 72px 0;
    width: 45%;
  }

  .form-selection__legend {
    .font-set(16px, 16px);
  }
}

@media (min-width: @desktop-width) {
  .form-selection__container {
    display: flex;
  }

  .form-selection__item {
    padding: 33px 110px;
  }
}
