.goods__title {
  .font-set(16px, 16px);
  color: @special-dark-grey2;
  text-transform: uppercase;
  margin-top: 13px;
  margin-bottom: 13px;
}

.goods__quantity {
  .font-set(14px, 14px);
  color: @special-dark-grey;
}

.goods__price {
  .font-set(14px, 14px);
  color: @special-dark-grey;
  text-align: right;
  text-transform: uppercase;
}

.goods__button {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  .font-set(16px, 0);
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
  margin-top: 15px;
  margin-bottom: 19px;
}
