.main-nav {
  .main-fonts();
  .font-set(20px, 20px, 500);
  text-transform: uppercase;
}

.main-nav__wrapper {
  min-width: 320px;
  text-align: center;
}

.main-nav__list {
  .reset-list();
  border-top: 1px solid @basic-grey-border;
}

.main-nav__item {
  padding: 22px 0 24px;
  border-bottom: 1px solid @basic-grey-border;
}

.main-nav__link {
  text-decoration: none;
  color: @basic-black;
}

@media (min-width: @tablet-width) {
  .main-nav {
    .font-set(18px, 24px);
  }

  .main-nav__list {
    border: none;
    min-width: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__item {
    border: none;
    padding: 42px 0 10px;

    &--active {
      border-bottom: 2px solid @basic-green;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    .font-set(20px, 30px);
  }

  .main-nav__list {
    min-width: 478px;
  }

  .main-nav__item {
    padding: 69px 0 7px;

    &--active {
      border-bottom: 2px solid @basic-green;
    }

    &--main-page {
      border-color: @basic-white;
    }
  }

  .main-nav__link {
    &--main-page {
      color: @basic-white;
    }
  }
}
