.page-footer {
  width: 320px;
  margin: 0 auto;
}

.page-footer__wrapper {
  width: 280px;
  padding: 39px 20px;
  text-align: center;
  background-color: @basic-grey;
}

.page-footer__logo-title {
  width: 128px;
  height: 24px;
  padding-bottom: 32px;
}

.page-footer__socials {
  padding: 20px 0 21px;
  border-top: 1px solid @basic-grey-border2;
  border-bottom: 1px solid @basic-grey-border2;
}
