.page-footer {
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.page-footer__wrapper {
  min-width: 280px;
  padding: 39px 20px;
  text-align: center;
  background-color: @basic-grey;
}

.page-footer__logo-title {
  width: 128px;
  height: 24px;
  padding-bottom: 32px;
}

.page-footer__socials {
  padding: 20px 0 21px;
  border-top: 1px solid @basic-grey-border2;
  border-bottom: 1px solid @basic-grey-border2;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    padding: 55px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__socials {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__contacts {
    position: absolute;
    max-width: 388px;
    top: 95px;
    left: 110px;
    background-color: @basic-white;
    z-index: 1;
  }

  .page-footer__wrapper {
    padding: 55px 110px;
  }
}
