.page-footer {
  min-width: 320px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.page-footer__contacts {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: @basic-white;
    z-index: 1;
  }
}

.page-footer__wrapper {
  min-width: 280px;
  padding: 34px 20px 22px;
  text-align: center;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    padding: 50px 30px 61px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media (min-width: @desktop-width) {
    padding: 53px 110px;
  }
}

.page-footer__logo-title {
  width: 128px;
  height: 24px;
  padding-bottom: 25px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.page-footer__socials {
  padding: 20px 0 17px;
  border-top: 1px solid @basic-grey-border2;
  border-bottom: 1px solid @basic-grey-border2;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
    padding-left: 25px;
  }
}

.page-footer__copyright {
  max-width: 280px;
  margin: 0 auto;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 0;
  }
}
