.page-main {
  min-width: 320px;
  margin: 0 auto;
}

.page-main__wrapper {
  padding: 27px 20px 0;
}

.page-main__title {
  .main-fonts();
  .font-set(36px, 36px);
  margin: 0;
  margin-bottom: 37px;
}

.page-main__intro {
  .main-fonts();
  text-transform: uppercase;
  margin-bottom: 19px;
}
