.product {
  .main-fonts();
  position: relative;
}

.product__link-details {
  text-decoration: none;
  color: @special-dark-grey2;
}

.product__title {
  .font-set(16px, 20px);
  text-transform: uppercase;
  padding-left: 140px;
  width: 76px;

  @media (min-width: @tablet-width) {
    .font-set(20px, 24px);
    margin: 161px auto 20px;
    padding-left: 0;
    width: 150px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    .font-set(20px, 21px);
  }
}

.product__image {
  position: absolute;
  top: 30px;
  left: 56px;

  &--large {
    left: 48px;
  }

  @media (min-width: @tablet-width) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.product__list {
  .reset-list();
  .font-set(12px, 16px);
  color: @special-dark-grey;
  padding-left: 140px;

  @media (min-width: @tablet-width) {
    .font-set(16px, 16px);
    padding-left: 0;
  }
}

.product__characteristic {
  float: left;
  width: 50%;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid @special-grey;
  }
}

.product__value {
  margin: 0;
  float: left;
  width: 50%;
  text-align: right;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid @special-grey;
  }
}

.product__button {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  .font-set(16px, 0);
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
  margin-top: 23px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 248px;
    margin-top: 33px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
    margin-left: 5px;
  }
}
