.programs {
  padding: 0 20px;
  &__wrapper {
    width: 280px;
    padding-top: 22px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    background-color: @basic-grey;
    padding: 30px 20px 18px;
    margin-bottom: 20px;
  }
  &__title {
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    .font-set(24px, 37px);
    text-transform: uppercase;
    padding-left: 71px;
    padding-bottom: 29px;
  }
  &__description {
    margin: 0;
    padding-bottom: 23px;
    color: @special-dark-grey;
    border-bottom: 1px solid @basic-grey-border2;
  }
  &__link {
    text-decoration: 0;
    color: @basic-black;
    display: inline-block;
    vertical-align: baseline;
    padding-top: 15px;
    font-family: "Oswald", "Arial", sans-serif;
    .font-set(16px, 16px);
    text-transform: uppercase;
  }
}
