.promo {
  .main-fonts();
  color: @basic-white;
}

.promo__wrapper {
  width: 280px;
  padding: 27px 20px 0;
  text-align: center;
  background-color: @basic-green;
}

.promo__title {
  .font-set(36px, 36px);
  margin: 0;
  margin-bottom: 25px;
}

.promo__slogan {
  .font-set(14px, 14px);
  margin: 0;
  margin-bottom: 302px;
}

.promo__button {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  .font-set(14px, 18px);
}
