.slider {
  &__item {
    display: none;
    &--active {
      display: inline;
    }
  }
  &__toggle {
    border: none;
    font-family: "Oswald", "Arial", sans-serif;
    .font-set(16px, 20px);
    background-color: @basic-background-grey;
  }
}
