.socials__list {
  .reset-list();
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 130px;
}

.socials__link {
  &:hover .socials__icon {
    fill: @basic-green;

    &--facebook {
      fill: none;
      stroke: @basic-green;
    }
  }

  &:active .socials__icon {
    opacity: 0.3;
  }
}

.socials__icon {
  &--vk {
    fill: @special-grey2;
  }

  &--instagram {
    fill: @special-grey2;
  }

  &--facebook {
    fill: none;
    stroke: @special-grey2;
  }

  @media (min-width: @tablet-width) {
    &--vk {
      width: 30px;
      height: 22px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 28px;
      height: 33px;
    }
  }
}
