.socials {
  &__list {
    list-style: none;
    margin: 0;
    padding: 20px 0 21px;
    border-top: 1px solid @basic-grey-border2;
    border-bottom: 1px solid @basic-grey-border2;
  }
  &__link {
    text-decoration: none;
    color: @basic-black;
  }
}
